/* Bootstrap overrides */
.row,
.container-fluid,
.col-sm-8,
.col-sm-4,
.col-xs-12,
.col-xs-8,
.col-xs-7,
.col-xs-4 {
  padding: 0;
  margin: 0;
}


body {
	color: #666;
	font-weight: 300;
	background-color: #EEE;
	background-image: url(../images/backgroundImage.jpg);
}

a {
	color: #118DC3;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

	.container-fluid {
		padding: 30px !important;
	}

	.pageContainer {
		padding: 30px;
		background-color: rgba(253,248,248, 1);
        /*background-color: #D44822;*/
		/*-moz-box-shadow: 0 0 15px 2px rgba(9,9,9,0.1);
		-webkit-box-shadow: 0 0 15px 2px rgba(9,9,9,0.1);*/
		box-shadow: 10px 10px 5px #888888;
		max-width: 1000px;
	}	
	
	.topNav #nameContainer {
		text-align: center;
		min-width: 165px;
		margin-top: 10px;
	}

	#nameContainer {
	}
		#nameContainer a {
			text-decoration: none;
		}
		#nameContainer a img {
			width: 130px;
		}
		#nameContainer a #name {
			font-size: 30px;
		}
			#name {
				color: #333;
				font-weight: normal;
				font-size: 40px;
				margin-top: 15px;
			}


	.topNav #navContainer {
		text-align: right;
	}
	
	@media (max-width: 768px) {
		.topNav #navContainer {
			text-align: center;
			margin: 30px 0px;
		}
	}

	#navContainer {
		padding: 0px;
		margin-top: 60px;
	}
		#navContainer > li {
			font-size: 25px;
			color: #231f20;
			/*display: inline-block;*/
		}
			#navContainer > li > a {
				text-decoration: none;
				color: inherit;
				display: block;
				text-shadow: 0px 0px 5px #FFF;
				letter-spacing: 1px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				/*-ms-transition: all 0.5s ease-in-out;*/
				transition: all 0.5s ease-in-out;
			}
			#navContainer li a:hover{
				color: #ffd700;
				text-shadow: 1px 1px #ffd700;
			}



	/*#socialContainer {
		vertical-align: middle;
		margin-top: 15px;
	}
		#socialContainer div {
			display: inline-block;
			margin-right: 5px;
		}

		#socialContainer a div {
			width: 16px;
			height: 16px;
			background: url(../../images/social_sq.png);
			opacity: 0.3;
		}
			#socialContainer a:hover div {
				opacity: 1.0;
			}

		#socialContainer a #twitter {
			background-position: -20px 0px;
		}
			#socialContainer a:hover #twitter {
				background-position: -20px 16px;
			}
		#socialContainer a #linkedin {
			background-position: 0px 0px;
		}
			#socialContainer a:hover #linkedin {
				background-position: 0px 16px;
			}
		#socialContainer a #quora {
			background-position: -40px 0px;
		}
			#socialContainer a:hover #quora {
				background-position: -40px 16px;
			}
		#socialContainer a #email {
			background-position: -60px 0px;
			opacity: 0.5;
		}
			#socialContainer a:hover #email {
				background-position: -60px 16px;
				opacity: 1.0;
			}
		#socialContainer a #angel {
			background-position: -80px 0px;
		}
			#socialContainer a:hover #angel {
				background-position: -80px 16px;
			}
		#socialContainer a #github {
			background-position: -100px 0px;
		}
			#socialContainer a:hover #github {
				background-position: -100px 16px;
			}*/

	#footerCopyright {
		font-size: 12px;
		color: #a6a6a6;
		margin: 50px auto 0px auto;
	}
